<%-include('include/_header')%>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-appointment" class="border-shadow">
                <span class="text-gradient">New Appointment<i class="fas fa-house-user"></i></span>
            </a>
        </div>

        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Proposed Date</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Broker</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </form>
    </div>
</main>

<%-include('include/_footer')%>